<html>
<head th:replace="~{header :: head}"></head>
<body>
	<div th:replace="~{header :: logo}"/>
	
	<div class="container">
	
		<div th:replace="~{header :: titulo('Novo Pedido')}"/>
				
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-center mb-3">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="../home">Todos</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="#">Aguardando</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="#">Aprovado</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="#">Entregue</a></li>
			</ul>
			<a href="/pedido/formulario">
				<button class="btn btn-outline-success" type="submit">Novo</button>
			</a>
		</nav>		
		<div class="card mt-3">
			<form th:object="${requisicaoPedidoDTO}" class="card-body" action="/pedido/novo" method="POST">
				<div class="form-group">
					<label for="nomeProduto"> Produto </label>
					<input th:field="*{nomeProduto}" class="form-control is-invalid" name="nomeProduto" placeholder="nome do produto"></input>
					<small> Informe qual o nome do produto.</small>
					<div class="invalid-feedback" th:errors="*{nomeProduto}"></div>
					
				</div>
				<div class="form-group">
					<label for="urlProduto"> URL </label>
					<input th:field="*{urlProduto}" class="form-control is-invalid" name="urlProduto" placeholder="URL produto"></input>
					<small> Procure em um site a imagem do produto que você deseja.</small>
					<div class="invalid-feedback" th:errors="*{urlProduto}"></div>
				</div>
				<div class="form-group">
					<label for="urlImagem"> Imagem </label>
					<input th:field="*{urlImagem}" class="form-control is-invalid" name="urlImagem" placeholder="URL da imagem"></input>
					<small> Procure uma boa imagem do produto e cola aqui.</small>
					<div class="invalid-feedback" th:errors="*{urlImagem}"></div>
				</div>
				<div class="form-group mb-3">
					<label for="descrProduto"> Descrição </label>
					<textarea th:field="*{descrProduto}" class="form-control is-invalid" name="descrProduto" placeholder="Adicione detalhes do produto."></textarea>
					<div class="invalid-feedback" th:errors="*{descrProduto}"></div>				
				</div>
				<button type="submit" class="btn btn-primary">Cadastrar</button>		
			</form>
		</div>
	</div>
</body>
</html>